<div class="overflow-x-auto -mx-4 mt-8 sm:-mx-0">
  <table class="min-w-full divide-y divide-gray-300">
    <thead class="hidden sm:table-header-group">
      <tr>
        <th scope="col" class="py-4 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 w-1/4">Address</th>
        <th scope="col" class="hidden px-4 py-4 text-left text-sm font-semibold text-gray-900 sm:table-cell w-1/8">Sale Price</th>
        <th scope="col" class="hidden px-4 py-4 text-left text-sm font-semibold text-gray-900 sm:table-cell w-1/8">Sold Date</th>
        <th scope="col" class="hidden px-4 py-4 text-left text-sm font-semibold text-gray-900 lg:table-cell w-1/12">Bedrooms</th>
        <th scope="col" class="hidden px-4 py-4 text-left text-sm font-semibold text-gray-900 lg:table-cell w-1/12">Bathrooms</th>
        <th scope="col" class="hidden px-4 py-4 text-left text-sm font-semibold text-gray-900 lg:table-cell w-1/8">Floor Area</th>
        <th scope="col" class="hidden px-4 py-4 text-left text-sm font-semibold text-gray-900 lg:table-cell w-1/8">Land Area</th>
        <th scope="col" class="px-4 py-4 text-left text-sm font-semibold text-gray-900 w-1/8">Suburb</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      <% properties.each do |property| %>
        <tr class="hover:bg-gray-50">
          <td class="py-5 pl-4 pr-3 sm:pl-0 w-1/4">
            <div class="flex items-center justify-between">
              <div class="truncate">
                <%= link_to property_path(property), 
                    data: { turbo_frame: "modal_content" },
                    onclick: "toggleModal()",
                    class: "text-sm font-medium text-indigo-600 hover:text-indigo-900 truncate" do %>
                  <%= property.address.split(',').first %>
                <% end %>
                <dl class="font-normal sm:hidden mt-2">
                  <dd class="truncate text-xs text-gray-500"><%= format_price(property.sale_price) %></dd>
                  <dd class="mt-1 truncate text-xs text-gray-500"><%= property.sold_date %></dd>
                </dl>
              </div>
              <div class="sm:hidden">
                <%= suburb_pill(property.suburb) %>
              </div>
            </div>
          </td>
          <td class="hidden whitespace-nowrap px-4 py-5 text-sm text-gray-500 sm:table-cell w-1/8 truncate"><%= format_price(property.sale_price) %></td>
          <td class="hidden whitespace-nowrap px-4 py-5 text-sm text-gray-500 sm:table-cell w-1/8 truncate"><%= property.sold_date %></td>
          <td class="hidden whitespace-nowrap px-4 py-5 text-sm text-gray-500 lg:table-cell w-1/12 truncate"><%= property.bedroom_count %></td>
          <td class="hidden whitespace-nowrap px-4 py-5 text-sm text-gray-500 lg:table-cell w-1/12 truncate"><%= property.bathroom_count %></td>
          <td class="hidden whitespace-nowrap px-4 py-5 text-sm text-gray-500 lg:table-cell w-1/8 truncate"><%= format_area(property.floor_area) %></td>
          <td class="hidden whitespace-nowrap px-4 py-5 text-sm text-gray-500 lg:table-cell w-1/8 truncate"><%= format_area(property.land_area) %></td>
          <td class="hidden whitespace-nowrap px-4 py-5 text-sm text-gray-500 sm:table-cell w-1/8 truncate">
            <%= suburb_pill(property.suburb) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>