<div class="modal-content p-6">
  <h2 class="text-lg font-semibold mb-4 text-center">Filter Properties</h2>
  
  <%= form_with url: properties_path, method: :get, data: { turbo_frame: "properties" } do |f| %>

  <!-- try with this: https://www.youtube.com/watch?v=NCy_tav8CEA or this: https://www.youtube.com/watch?v=X9ooIi9A4A8 -->
  
    <div class="mb-4">
      <%= f.label :sale_price, "Price Range", class: "block text-sm font-medium text-gray-700 mb-1" %>
      <% sale_price_bounds = Property.sale_price_bounds %>

      <div class="range-container">
        <div class="double-slider">
          <div class="double-slider__body">
            <div class="double-slider__track">
              <div id="slider-range" class="double-slider__range"></div>
              <div id="dot-left" class="double-slider__dot double-slider__dot--left"></div>
              <div id="dot-right" class="double-slider__dot double-slider__dot--right"></div>
            </div>
            <input id="input-left" min="<%= sale_price_bounds[:min] %>" max="<%= sale_price_bounds[:max] %>" value="<%= sale_price_bounds[:min] %>" type="range" class="double-slider__input" />
            <input id="input-right" min="<%= sale_price_bounds[:min] %>" max="<%= sale_price_bounds[:max] %>" value="<%= sale_price_bounds[:max] %>" type="range" class="double-slider__input" />
          </div>
        </div>
        <div class="flex justify-between mt-2">
          <span id="title-min" class="text-sm text-gray-600"><%= format_price(sale_price_bounds[:min]) %></span>
          <span id="title-max" class="text-sm text-gray-600"><%= format_price(sale_price_bounds[:max]) %></span>
        </div>
      </div>

      <!-- Hidden form fields -->
      <div style="display: none;">
        <%= f.number_field :min_sale_price, id: "hidden-min-price" %>
        <%= f.number_field :max_sale_price, id: "hidden-max-price" %>
      </div>
    </div>

    <!-- Add this right after the price range slider -->
    <div class="mt-2 mb-4">
      <%= f.check_box :exclude_nil_prices, 
          id: "exclude_nil_prices", 
          onchange: "this.form.requestSubmit();",
          class: "rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      <%= f.label :exclude_nil_prices, "Exclude properties without a sale price", 
          class: "ml-2 text-sm text-gray-600" %>
    </div>
    <!-- Bedrooms -->
    <div class="mb-4">
      <%= f.label :bedroom_count, "Bedrooms", class: "block text-sm font-medium text-gray-700 mb-1" %>
      <%= f.select :bedroom_count, options_for_select([["Any", ""], 1, 2, 3, 4, ["5+", 5]]), {}, { onchange: "this.form.requestSubmit();", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>

    <!-- Bathrooms -->
    <div class="mb-4">
      <%= f.label :bathroom_count, "Bathrooms", class: "block text-sm font-medium text-gray-700 mb-1" %>
      <%= f.select :bathroom_count, options_for_select([["Any", ""], 1, 2, 3, ["4+", 4]]), {}, { onchange: "this.form.requestSubmit();", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>

    <!-- Carpark Spaces -->
    <div class="mb-4">
      <%= f.label :carpark_spaces_count, "Carpark Spaces", class: "block text-sm font-medium text-gray-700 mb-1" %>
      <%= f.select :carpark_spaces_count, options_for_select([["Any", ""], 1, 2, 3, ["4+", 4]]), {}, { onchange: "this.form.requestSubmit();", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>

    <!-- Floor Area Range -->
    <div class="mb-4">
      <h3 class="text-md font-medium mb-2">Floor Area (sqm)</h3>
      <% floor_area_bounds = Property.floor_area_bounds %>

      <div class="range-container">
        <div class="double-slider">
          <div class="double-slider__body">
            <div class="double-slider__track">
              <div id="floor-area-slider-range" class="double-slider__range"></div>
              <div id="floor-area-dot-left" class="double-slider__dot double-slider__dot--left"></div>
              <div id="floor-area-dot-right" class="double-slider__dot double-slider__dot--right"></div>
            </div>
            <input id="floor-area-input-left" min="<%= floor_area_bounds[:min] %>" max="<%= floor_area_bounds[:max] %>" value="<%= floor_area_bounds[:min] %>" type="range" class="double-slider__input" />
            <input id="floor-area-input-right" min="<%= floor_area_bounds[:min] %>" max="<%= floor_area_bounds[:max] %>" value="<%= floor_area_bounds[:max] %>" type="range" class="double-slider__input" />
          </div>
        </div>
      </div>
      <div class="flex justify-between mt-2">
        <span id="floor-area-title-min" class="text-sm text-gray-600"><%= format_area(floor_area_bounds[:min]) %></span>
        <span id="floor-area-title-max" class="text-sm text-gray-600"><%= format_area(floor_area_bounds[:max]) %></span>
      </div>
      <div style="display: none;">
        <%= f.number_field :min_floor_area, id: "hidden-min-floor-area" %>
        <%= f.number_field :max_floor_area, id: "hidden-max-floor-area" %>
      </div>
    </div>

    <!-- Land Area Range -->
    <div class="mb-4">
      <h3 class="text-md font-medium mb-2">Land Area (sqm)</h3>
      <div class="range-container">
        <div class="double-slider">
          <div class="double-slider__body">
            <div class="double-slider__track">
              <div id="land-area-slider-range" class="double-slider__range"></div>
              <div id="land-area-dot-left" class="double-slider__dot double-slider__dot--left"></div>
              <div id="land-area-dot-right" class="double-slider__dot double-slider__dot--right"></div>
            </div>
            <input id="land-area-input-left" min="0" max="10000" value="0" type="range" class="double-slider__input" />
            <input id="land-area-input-right" min="0" max="10000" value="10000" type="range" class="double-slider__input" />
          </div>
        </div>
      </div>
      <div class="flex space-x-2">
        <%= f.number_field :min_land_area,
        id: "land-area-min-value",
        placeholder: "Min Area",
        oninput: "this.form.requestSubmit();",
        onchange: "this.form.requestSubmit();",
        class: "w-1/2 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        <%= f.number_field :max_land_area,
        id: "land-area-max-value",
        placeholder: "Max Area",
        oninput: "this.form.requestSubmit();",
        onchange: "this.form.requestSubmit();",
        class: "w-1/2 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
    </div>

    <!-- Suburb -->
    <div class="mb-4">
      <%= f.label :suburb, "Suburb", class: "block text-sm font-medium text-gray-700 mb-1" %>
      <%= f.text_field :suburb, placeholder: "Enter suburb", oninput: "this.form.requestSubmit();", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>

    <!-- Decade Built -->
    <div class="mb-4">
      <%= f.label :decade_built, "Decade Built", class: "block text-sm font-medium text-gray-700 mb-1" %>
      <%= f.select :decade_built, options_for_select([["Any", ""], "1950s", "1960s", "1970s", "1980s", "1990s", "2000s", "2010s", "2020s"]), {}, { onchange: "this.form.requestSubmit();", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>

    <!-- Property Condition -->
    <div class="mb-4">
      <%= f.label :condition, "Property Condition", class: "block text-sm font-medium text-gray-700 mb-1" %>
      <%= f.select :condition, options_for_select([["Any", ""], "Excellent", "Good", "Fair", "Poor"]), {}, { onchange: "this.form.requestSubmit();", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>

    

    <!-- Submit button 
    <div class="mt-6">
      <%= f.submit "Apply Filters", 
          class: "w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:w-auto sm:text-sm",
          data: { action: "filter#apply" } 
      %>
    </div> -->
  <% end %>
</div>