<h1><%= @property.address %></h1>

<p><strong>Sale Price:</strong> <%= @property.sale_price %></p>
<p><strong>Sold Date:</strong> <%= @property.sold_date %></p>
<p><strong>Bedrooms:</strong> <%= @property.bedroom_count %></p>
<p><strong>Bathrooms:</strong> <%= @property.bathroom_count %></p>
<p><strong>Land Area:</strong> <%= @property.land_area %></p>
<p><strong>Floor Area:</strong> <%= @property.floor_area %></p>
<p><strong>Deck:</strong> <%= @property.deck %></p>
<p><strong>Property Contour:</strong> <%= @property.property_contour %></p>
<p><strong>View Type:</strong> <%= @property.view_type %></p>
<p><strong>Decade Built:</strong> <%= @property.decade_built %></p>
<p><strong>Condition:</strong> <%= @property.condition %></p>
<p><strong>Suburb:</strong> <%= @property.suburb %></p>

<%= link_to 'Back to List', properties_path %>