<%= turbo_frame_tag :modal do %>
  <div class="fixed inset-0 z-10 overflow-y-auto" data-controller="modal">
    <!-- Blurred background -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 backdrop-blur-sm" data-action="click->modal#close"></div>
    
    <!-- Modal content -->
    <div class="relative z-20 flex items-center justify-center min-h-screen">
      <div class="bg-white p-6 rounded-lg max-w-lg w-full shadow-2xl">
            <h1 class="text-3xl font-bold mb-6 border-b pb-4"><%= @property.address %></h1> <!-- Modified this line -->

            <div class="space-y-2"> <!-- Added this wrapper div with vertical spacing -->
                <p><strong>Sale Price:</strong> <%= @property.sale_price %></p>
                <p><strong>Sold Date:</strong> <%= @property.sold_date %></p>
                <p><strong>Bedrooms:</strong> <%= @property.bedroom_count %></p>
                <p><strong>Bathrooms:</strong> <%= @property.bathroom_count %></p>
                <p><strong>Land Area:</strong> <%= @property.land_area %></p>
                <p><strong>Floor Area:</strong> <%= @property.floor_area %></p>
                <p><strong>Deck:</strong> <%= @property.deck %></p>
                <p><strong>Property Contour:</strong> <%= @property.property_contour %></p>
                <p><strong>View Type:</strong> <%= @property.view_type %></p>
                <p><strong>Decade Built:</strong> <%= @property.decade_built %></p>
                <p><strong>Condition:</strong> <%= @property.condition %></p>
                <p><strong>Suburb:</strong> <%= @property.suburb %></p>
            </div>

            <div class="mt-6">
                <%= link_to 'Back to List', properties_path, class: "bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded", data: { turbo_frame: "_top" } %>
            </div>
        </div>
    </div>
<% end %>